<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #334;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/homepage">Book My Show</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex w-75 p-2">
        <input class="form-control  me-2   " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <!-- <h5><i class="fa-solid fa-user">user</i></h5> -->

    </div>
    <h4 class="usericon"><a href="/userprofile"><i class="fa-solid fa-user text-light"></i></a></h4>

    <a class="navbar-brand" href="/logout">Logout</a>
  </div>
</nav>

<style>
  .usericon {
    margin-right: 75px;
    color: white;
  }
</style>